.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/bower_components/
/assets/files/sections/*
/assets/files/upload/*
/assets/files/po/upload/*
!/assets/files/po/upload/.gitkeep
!/assets/files/upload/.gitkeep
!/assets/files/sections/.gitkeep
application/config/database.php
assets/js/freamwork.js

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
